<!-- <h1>Registration</h1>

<%= form_with model: @user do |form| %>
  <div>
    <%= form.label :name %><br>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :email  %><br>
    <%= form.email_field :email %>
  </div>
  <div>
      <%= form.label :mobile  %><br>
      <%= form.number_field :mobile %>
    </div>
  <div>
      <%= form.label :password  %><br>
      <%= form.password_field :password %>
    </div>
  <div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
 -->