<!DOCTYPE html>
<html>
  <head>
    <title>E-Learning</title>
    <%= stylesheet_link_tag "style" %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  </head>

  <body>
    <%= yield %>
    <button>  <%= link_to "Back" , "/" %></button>
  </body>
</html>
